<%inherit file="post.tmpl"/>

<%block name="page_content">
${post.text()}
<% i = 0 %>
    %for url, text, title in sidebar_links_list[lang]:
%if url == "" and text == "" and title != "":
%if i > 0:
</ul>
%endif
<h3>${title}</h3>
<ul>
             % else:
## % if url != "" and text != "" and title != "":
<li>
<a href="${url}" target="_blank">${text}</a>: ${title}
</li>
% endif
%if i == (len(sidebar_links_list[lang]) - 1):
</ul>
%endif
<% i = (i + 1) %>
    %endfor
</%block>
