<%doc>
  Template used by default for blog posts, gets the data in a post object which is an instance of the Post class.
</%doc>

<%namespace name="helper" file="/post_helper.tmpl"/>
<%namespace name="comments" file="/comments_helper.tmpl"/>
<%inherit file="/_base.tmpl"/>

<%block name="extra_links">
    ${parent.extra_links()}
    % if post.meta('keywords'):
    <meta name="keywords" content="${post.meta('keywords')|h}">
    % endif
    %if post.description():
    <meta name="description" itemprop="description" content="${post.description()|h}">
    %endif
    <meta name="author" content="${post.author()|h}">
    %if post.prev_post:
        <link rel="prev" href="${post.prev_post.permalink()}" title="${post.prev_post.title()|h}" type="text/html">
    %endif
    %if post.next_post:
        <link rel="next" href="${post.next_post.permalink()}" title="${post.next_post.title()|h}" type="text/html">
    %endif
    % if post.is_draft:
        <meta name="robots" content="noindex">
    % endif
    ${helper.open_graph_metadata(post)}
    ${helper.twitter_card_information(post)}
    ${helper.meta_translations(post)}
</%block>

<div class="pure-g">
  <div class="pure-u-1">

    % if len(translations) > 1:
<div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
            <li class="pure-menu-item">${messages("Also available in")}</li>
            % for langname in sorted(translations):
                % if langname == lang:
<li class="pure-menu-item pure-menu-item-active">${messages("LANGUAGE", langname)}</li>
%else:
%if post.is_translation_available(langname):
                <li class="pure-menu-item"><a class="pure-menu-link"
href="${post.permalink(langname)}" rel="alternate" hreflang="${langname}">
<img src="/assets/images/${langname}-flag.png" alt="${messages("LANGUAGE", langname)}" />
</a></li>
%else:
<li class="pure-menu-item pure-menu-disabled">${messages("LANGUAGE", langname)}</li>
                % endif
                % endif
            % endfor
</ul>
</div>
% endif
<header>
%if title and not post.meta('hidetitle'):
    <h2 class="yp-index-post__title" itemprop="headline name"><a href="${post.permalink()}" class="u-url">${post.title()|h}</a></h2>
%endif
</header>
    <article class="yp-post__body itemprop="article"">
<%block name="page_content">
      ${post.text()}
</%block>
    </article>
% if 'post_page' in pagekind:
    <aside class="info">
            % if post.meta('link'):
                    <p><a href="${post.meta('link')}">${messages("Original site")}</a></p>
            % endif
<p>\
${messages("Posted by ")}\
                % if author_pages_generated:
                    <a href="${_link('author', post.author())}">${post.author()|h}</a>
                % else:
                    ${post.author()|h}
                %endif
- <a href="${post.permalink()}" rel="bookmark">
<time datetime="${post.formatted_date('webiso')}" itemprop="datePublished" 
title="${post.formatted_date(date_format)|h}">${post.formatted_date(date_format)|h}</time></a>
</p>
            % if not post.meta('nocomments') and site_has_comments:
                <p>${comments.comment_link(post.permalink(), post._base_path)}
            % endif
            ${helper.html_sourcelink()}
    <nav>
    ${helper.html_tags(post)}
    ${helper.html_pager(post)}
    </nav>
    </aside>
${helper.html_sharing_links(post)}
    % if not post.meta('nocomments') and site_has_comments:
        <section class="comments hidden-print">
        <h2>${messages("Comments")}</h2>
        ${comments.comment_form(post.permalink(absolute=True), post.title(), post._base_path)}
        </section>
    % endif
${comments.comment_link_script()}
% endif

  </div>
</div>
